*/*/config.old
*/*/rootfs_config.old
build/
images/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
/project-spec/meta-plnx-generated/
!/project-spec/hw-description/metadata

/components/
/.Xil/
